

.square {
    width: 200px;
    height: 200px;
    background-color: rgb(101, 136, 231);
    margin: auto;
    margin-top: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.square p {
    text-align: center;
    line-height: 200px;
}